body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Full viewport height */
    height: 100vh;
    margin: 0;
}

#container{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

/* top bar to display numbers, operators and result once button is pressed */
#display{
    font-size: 30px;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    text-align: right; /* Align text to the right */
}
/* grid to show all the numbers and operator */
#grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between; /* Distribute buttons evenly */
}
/* each cell of the grid */
.cell {
    flex: 0 0 25%; /* Set each button to take up 25% of the row width for a 4x5 grid */
    aspect-ratio: 1; /* Keeps each button square */
}
